{% sw_extends '@Storefront/storefront/component/product/card/box-basic.html.twig' %}

{% block component_product_box_badges %}
    {# WSC DataLayer: Add product number for JavaScript tracking #}
    {% if product.productNumber %}
        <span class="d-none" data-product-number="{{ product.productNumber|e('html_attr') }}"></span>
    {% endif %}

    {{ parent() }}
{% endblock %}
